<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!--Footer Links-->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!--First column-->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Eventbrite</h6>
        <p>Eventbrite est la plus grande plateforme technologique de billetterie en libre-service au monde.</p>
      </div>
      <!--/.First column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="https://www.eventbrite.com/d/ma--boston/events/">Boston Events</a>
        </p>
        <p>
          <a href="https://www.eventbrite.com/d/il--chicago/events/">Chicago Events</a>
        </p>
        <p>
          <a href="https://www.eventbrite.com/d/co--denver/events/">Denver Events</a>
        </p>
        <p>
          <a href="https://www.eventbrite.com/d/tx--houston/events/">Houston Events</a>
        </p>
      </div>
      <!--/.Second column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Connect With Us</h6>
        <p>
          <a href="https://www.eventbrite.com/support/contact-us">Contact Support</a>
        </p>
        <p>
          <a href="https://www.eventbrite.com/l/contact-sales/">Contact Sales</a>
        </p>
        <p>
          <a href="https://www.twitter.com/Eventbrite">Twitter</a>
        </p>
        <p>
          <a href="https://www.facebook.com/Eventbrite">Facebook</a>
        </p>
      </div>
      <!--/.Third column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-home mr-3"></i>Rachid B. racö</p>
        <p>
          <i class="fa fa-envelope mr-3"></i>
          <a href="https://github.com/raco82">Github</a>
          <p>
            <i class="fa fa-phone mr-3"></i>
            <a href="https://www.instagram.com/agenceaixit/">Aixit</a>
            <p>
              <i class="fa fa-print mr-3"></i>
              <a href="https://www.instagram.com/l.humeur.du.jour/">HDJ</a>
            </div>
            <!--/.Fourth column-->

          </div>
          <!-- Footer links -->

          <hr>

          <div class="row py-3 d-flex align-items-center">

            <!--Grid column-->
            <div class="col-md-8 col-lg-8">

              <!--Copyright-->
              <p class="text-center text-md-left grey-text">Site réalisé avec ❤️ sous
                <a href="http://rubyonrails.org/">Ruby on Rails</a>
                par
                <a href="https://www.instagram.com/l.humeur.du.jour/">
                  <strong>Racö</strong>
                </a>
              </p>
              <!--/.Copyright-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 col-lg-4 ml-lg-0">

              <!--Social buttons-->
              <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                  <li><%= link_to "Aixit", "http://aixit.fr" %></li>
                </ul>
              </div>
              <!--/.Social buttons-->

            </div>
            <!--Grid column-->

          </div>

        </div>

      </footer>
      <!--/.Footer-->
